## Email : tanvir2024islam@gmail.com

In [ ]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Answer to  question Number : 01

In [ ]:
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
print("Ages:", ages)
print("Salaries:", salaries)

Ages: [54 24 38 26 56 35 21 42 31 26]
Salaries: [53897 32612 86193 88707 85387 84638 53483 88822 78555 89900]

In [ ]:
## "ages" display their dtype, ndim, shape, and size
print("ages dtype:", ages.dtype)
print("ages ndim:", ages.ndim)
print("ages shape:", ages.shape)
print("ages size:", ages.size)

ages dtype: int64
ages ndim: 1
ages shape: (10,)
ages size: 10

In [ ]:
## "salaries" display their dtype, ndim, shape, and size
print("salaries dtype:", salaries.dtype)
print("salaries ndim:", salaries.ndim)
print("salaries shape:", salaries.shape)
print("salaries size:", salaries.size)

salaries dtype: int64
salaries ndim: 1
salaries shape: (10,)
salaries size: 10

## Answer to question Number : 02

In [ ]:
highest = np.max(salaries)
print("Highest salary:", highest)

Highest salary: 89900

In [ ]:
lowest = np.min(salaries)
print("Lowest salary:", lowest)

Lowest salary: 32612

In [ ]:
average = np.mean(salaries)
print("Average salary:", average)

Average salary: 74219.4

In [ ]:
average_age = np.mean(ages)
print("Average age:", average_age)

Average age: 35.3

## Answer to question Number : 03

In [ ]:
greater_than_30 = ages [ages  > 30]
print("ages  greater than 30:", greater_than_30)

ages  greater than 30: [54 38 56 35 42 31]

In [ ]:
count_greater_than_30 = len(greater_than_30)
print("Count of ages greater than 30:", count_greater_than_30)

Count of ages greater than 30: 6

## Answer to question Number : 04

In [ ]:
increases_age = ages + 5
print("Ages after increasing by 5:", increases_age)

Ages after increasing by 5: [59 29 43 31 61 40 26 47 36 31]

## Answer to question Number : 05

In [ ]:
total_salary = np.sum(salaries)
print("Total salary:", total_salary)

Total salary: 742194

In [ ]:
maximum_salary = np.max(salaries)
minimum_salary = np.min(salaries)
difference = maximum_salary - minimum_salary
print("Difference between maximum and minimum salary:", difference)

Difference between maximum and minimum salary: 57288

## Answer to question Number : 06

In [ ]:
df = pd.read_csv("employees.csv")
print(df)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR

In [ ]:
df.head()

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

In [ ]:
df.describe()

             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Answer to question Number : 07

In [ ]:
id_age_salary = df[["id", "age", "salary"]]
print(id_age_salary)

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

In [ ]:
print(id_age_salary.tail(3))

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

## Answer to question Number : 08

In [ ]:
it_employees = df[df["dept"] == "IT"]
print(it_employees)

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

In [ ]:
total_it_employees = len(it_employees)
print("Total number of IT employees:", total_it_employees)

Total number of IT employees: 3

## Answer to question Number : 09

In [ ]:
sort_salary = df.sort_values(by="salary", ascending=False)
print(sort_salary)

   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR
1   2   46   74131       IT
3   4   25   71090       IT
2   3   32   46023  Finance
9  10   28   35311       HR
8   9   28   32433    Sales
4   5   38   31685       HR
5   6   56   30769    Sales

In [ ]:
sort_salary.head(3)

   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR

## Answer to question Number : 10

In [ ]:
df_replace = df.copy()
df_replace.loc[df_replace['salary'] > 80000, 'salary'] = 80000
print(df_replace)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR

In [ ]:
avg_df_replace = df_replace['salary'].mean()
print("Average replacing salaries :", avg_df_replace)

Average replacing salaries : 55863.3